#gros-titre{
    text-align: center;
    font-size: 50px;
    margin: 0;
    color: #30638E; 
}
header{
    margin: 0;
    background-color: #30638E;
    color: #f2eef2;
    height: 115px;
    margin-bottom: 10px;
}

header h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin: auto;
    font-size: 50px;
}
header div{
    height: 100%;
}

header div h1{
    padding-top: 25px;
}
body{
    margin: 0;
}

.width{
    margin: 0 10%;
    background-color: #f2eef2;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
#nav-container{
    display: grid;
    grid-template-rows: 50% 50%;
    text-align: left;
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 20px;
}



#nav-container a{
    text-decoration: none;
    color: #30638E;
    font-size: 20px;
    margin-bottom: 15px;
}
footer{
    background-color: #30638E;
    height: 115px;
    
}
footer p{
    text-align: center;
    color: #f2eef2;
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
}
#contact{
    text-align: center;
    padding-bottom: 2px;
}

#contact ul{
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
}


#contact a{
    color:#f2eef2;
    text-decoration: none;
    font-size: 20px;
}

#linkedin{
    width: 2.5%;
    margin-bottom: -2px;
}

#mail{
    width: 3.5%;
    margin-bottom: -7px;
}

/*CV*/

#cv-container{
    display: grid;
    grid-template-columns: 20% 80%;
}

#cv-left{
    background-color: #30638E;
}

#cv-left img{
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}
