body{
  color: #392759;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #F8FAFF;
}

img{
    max-width: 100%;
}

.some-page-wrapper {
    padding-top: 100px;
    width: 70%;
    margin: 0 auto;
  }
  
  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    margin:10px;
    padding:10px;
    border-radius: 10px;
  }

  .column h1,.column p{
    text-align: center;
  }


/*Header*/

.menu_container{
    width: 100%;
    background-color: #2B2D42;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    text-align: center;
}

.menu_container a{
  position: relative;
  color: #E8F0FF;
  text-decoration: none;
  padding: 10px 0;
}

.menu_container a:hover{
  transition: 0.6s;
  background-color: #573C82;
  color: white;
}

.menu_container a:after, .menu_container a:before{
  content: "";
  position: absolute;
  background-color: #F7ACCF;
  height: 3px;
  width: 0;
  transition: 0.3s;
}

.menu_container a:after {
  left:0;
  bottom:5px
}

.menu_container a:before {
  right:0;
  top: 5px;
}

.menu_container a:hover:after, .menu_container a:hover:before{
  width: 100%;
}

/*footer*/
footer {
	overflow: hidden;
	background-color: red;
}
footer div a {
	float: right;
}
.logo {
	float: left;
}
